<div class="context">   
    <h2>Update Password</h2>
    <form [formGroup]="passwordForm">
        <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" type="password">
        <mat-error *ngIf="getPasswordErrorMessage()!=''">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
        <mat-error *ngIf="getConfirmPasswordErrorMessage()!=''">{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary" [disabled]="!passwordForm.valid" (click)="updatePassword()">Update Password</button>
    </form>
</div>